body {
    font-size: 1.1rem;
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    border-bottom: 3px solid #C19A33;
    font-weight: bold;
    font-size: 1.25rem;
}
.tab-content img {
    max-width: 80%;
    margin-bottom: 20px;
}

.tab-content h5 {
    color: #333;
    font-weight: bold;
    font-size: 1.3rem;
}

.tab-content ul {
    padding-left: 20px;
    font-size: 1.1rem;
}

.tab-content ul li {
    list-style-type: circle;
    margin-bottom: 10px;
}
.tab-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin: 100px;
}
.tab-content .row {
    padding: 15px;
}

.text-justify {
    text-align: justify;
}

.text-justify p {
    font-size: 1.2rem;
}
@media (min-width: 768px) {
    .text-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media (max-width: 767px) {
    .text-container {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
    }
    .text-justify p {
        font-size: 1rem;
        text-align: justify;
    }
    .tab-content {
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        margin: 5px;
    }
    .nav-tabs .nav-item {
        flex: 1 1 33%;
        text-align: center;
    }

    .nav-tabs .nav-link {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}